@import '../../../styles/variable.scss';

.CategoryTable {
  .category {
    @include flexMix(center);
    width: 170px;
    padding: 10px 10px;
    transition: 0.3s;

    .furnitureImg {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    .furniture,
    .categoryMenuName {
      vertical-align: middle;

      &:hover {
        color: $keyColor;
      }
    }
  }

  .furnitureLists {
    position: absolute;
    top: 10px;
    right: -172px;
    border: solid 1px #eee;
    background-color: #fff;
    box-shadow: 0px 1px 2px lightgrey;
  }
}
