@import '../../../styles/variable.scss';

.Nav {
  .menuLeft {
    .categoryMenu {
      .categoryList {
        position: absolute;
        left: -20px;
        background-color: #fff;
      }

      .category {
        @include flexMix(center);
        width: 170px;
        padding: 10px 10px;
        transition: 0.3s;

        .furnitureImg {
          width: 50px;
          height: 50px;
          margin-right: 10px;
        }

        .furniture,
        .categoryMenuName {
          vertical-align: middle;

          &:hover {
            color: $keyColor;
          }
        }
      }
    }
  }
}
