@import '../../../styles/variable.scss';

.CartCheckBox {
  @include flexMix(center, space-between);

  .checkBoxWrap {
    @include flexMix(center, 0);

    .checkBoxLabel {
      @include flexMix();
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 5px;
      background-color: #f0f3f6;
      border-radius: 50%;
      font-size: 14px;
    }

    input[type='checkBox'] {
      cursor: pointer;

      input[type='checkBox'] {
        display: none;
      }
    }

    &:checked + label:before {
      background-color: $keyColor;
    }

    .checkImg {
      width: 15px;
      height: 15px;
    }

    .checkAll {
      margin: 5px;
      font-size: 14px;
    }
  }

  .cleanChooseThings {
    width: 70px;
    height: 40px;
    border-radius: 10px;
  }
}
