@import '../../../styles/variable.scss';

.CartCheckBox {
  @include flexMix(center, space-between);

  .checkBoxWrap {
    .checkBoxLabel {
      @include flexMix();
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 5px;
      border-radius: 50%;
      font-size: 14px;
      cursor: pointer;

      .checkImg {
        position: absolute;
        left: 25%;
        top: 25%;
        width: 15px;
        height: 15px;
      }

      .checkAll {
        margin: 5px;
        font-size: 14px;
      }
    }

    .uncheckedLabel {
      background-color: #f0f3f6;
    }

    .checkedLabel {
      background-color: $keyColor;
    }
  }

  .cleanChooseThings {
    width: 70px;
    height: 40px;
    border-radius: 10px;
  }
}
