@import '../../styles/variable.scss';

.Container {
  @include alignCenter;
  flex-direction: column;

  .categoryTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 870px;
    padding: 18px 0px 18px 0px;

    .filterBtn {
      position: relative;
      width: 82px;
      height: 30px;
      background-color: white;
      font-size: 14px;

      .modalBox {
        position: absolute;
      }
    }
  }

  .category {
    display: flex;
    justify-content: space-between;
    width: 870px;
    padding: 18px;
    margin-bottom: 30px;
    border: 1px solid rgba($color: #585858, $alpha: 0.1);
  }
}

.productContainerFlex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 860px;
}
