@mixin flexMix($align: 0, $justify: 0) {
  display: flex;

  @if $align != 0 {
    align-items: $align;
  }

  @if $justify != 0 {
    justify-content: $justify;
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin alignCenter {
  display: flex;
  align-items: center;
}

$keyColor: rgb(90, 197, 240);
