.test123 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1px;
  width: 370px;
  height: 50px;
  border: 1px black solid;
}
.test123:hover {
  background-color: rgb(180, 226, 248);
}
