@import '../../styles/variable.scss';

.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 10px lightgrey;
<<<<<<< HEAD
=======
  z-index: 999;
>>>>>>> master

  .navWrap {
    @include flexMix(center, space-between);
    max-width: 1400px;
    margin: auto;
<<<<<<< HEAD
    z-index: 999;
=======
>>>>>>> master

    .logoWrap {
      @include flexMix(center);

      .logoImg {
        width: 36px;
        margin: 20px 10px;
      }

      .logo {
<<<<<<< HEAD
        width: 155px;
=======
        width: 175px;
>>>>>>> master
        font-size: 35px;
      }
    }

    .menuLeft {
      @include flexMix(center, space-between);
      width: 300px;
<<<<<<< HEAD
      margin: 20px;
=======
      margin: 0 20px;
>>>>>>> master

      .categoryMenu {
        position: relative;
        cursor: pointer;

        .categoryMenuHover {
          @include flexMix();
<<<<<<< HEAD
=======
          height: 50px;
>>>>>>> master

          .categoryMenuImg {
            height: 20px;
            width: 20px;
            background-image: url('../../assets/images/list.png');
            background-size: 20px;
          }

          .categoryMenuName {
            padding: 5px;
            width: 70px;
          }

          &:hover {
            .categoryMenuImg {
              height: 20px;
              width: 20px;
              background-image: url('../../assets/images/list\ \(1\).png');
              background-size: 20px;
              color: $keyColor;
            }

            .categoryMenuName {
              padding: 5px;
              color: $keyColor;
            }
          }
        }

        .categoryList {
          position: absolute;
<<<<<<< HEAD
          left: -20px;
          background-color: #fff;
=======
          top: 50px;
          left: -20px;
          background-color: #fff;
          box-shadow: 1px 1px 5px lightgrey;
>>>>>>> master
        }
      }

      .store,
      .contents,
      .community {
<<<<<<< HEAD
        width: 64px;
        background-color: #fff;
=======
        width: 75px;
        background-color: #fff;
        color: black;
        font-size: 15px;
      }

      .buttonColor {
        width: 64px;
        background-color: #fff;
        color: $keyColor;
>>>>>>> master
        font-size: 15px;
      }
    }

    .menuRight {
      @include flexMix(center, space-between);

      .searchWrap {
        position: relative;

        .searchInput {
          width: 300px;
          height: 35px;
          padding: 8px;
          margin: 10px 80px;
          border: 1px solid $keyColor;
          border-radius: 50px;
        }

        .searchImg {
          position: absolute;
          top: 27%;
          right: 19%;
          width: 24px;
          opacity: 50%;
        }
      }

      .cartImg {
        width: 30px;
        margin: 20px 30px;
      }

      .login {
<<<<<<< HEAD
        width: 100px;
=======
        @include flexMix();
        width: 110px;
>>>>>>> master
        height: 35px;
        margin: 20px;
        padding: 10px;
        border: 1px solid $keyColor;
        color: #fff;
        background-color: $keyColor;
        border-radius: 50px;
<<<<<<< HEAD
=======
        font-size: 15px;
>>>>>>> master

        .loginLink {
          @include flexMix(center, center);
          text-decoration: none;
        }
      }

      .help {
        height: 35px;
        margin: 20px;
        background-color: #fff;
      }
    }
  }
}
