@import '../../styles/variable.scss';
@import './Categories/Categories.scss';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 10px lightgrey;

  .nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    z-index: 999;

    .logoWrap {
      display: flex;
      align-items: center;

      .logoImg {
        width: 36px;
        margin: 20px 10px;
      }

      .logo {
        width: 155px;
        font-size: 35px;
      }
    }

    .menuLeft {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      margin: 20px;

      .categoryMenu {
        position: relative;
        cursor: pointer;

        .categoryMenuHover {
          display: flex;

          .categoryMenuImg {
            height: 20px;
            width: 20px;
            background-image: url('../../assets/images/list.png');
            background-size: 20px;
          }

          .categoryMenuName {
            padding: 5px;
            width: 70px;
          }

          &:hover {
            .categoryMenuImg {
              height: 20px;
              width: 20px;
              background-image: url('../../assets/images/list\ \(1\).png');
              background-size: 20px;
              color: $keyColor;
            }

            .categoryMenuName {
              padding: 5px;
              color: $keyColor;
            }
          }
        }
      }
    }

    .menuRight {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .searchWrap {
        position: relative;

        .searchInput {
          width: 300px;
          height: 35px;
          padding: 8px;
          margin: 10px 80px;
          border: 1px solid $keyColor;
          border-radius: 50px;
        }

        .searchImg {
          position: absolute;
          top: 27%;
          right: 19%;
          width: 24px;
          opacity: 50%;
        }
      }

      .cartImg {
        width: 30px;
        margin: 20px 30px;
      }

      .login {
        width: 100px;
        height: 35px;
        margin: 20px;
        padding: 10px;

        border: 1px solid $keyColor;
        color: #fff;
        background-color: $keyColor;
        border-radius: 50px;

        .loginLink {
          @include flexCenter;
          text-decoration: none;
        }
      }

      .help {
        height: 35px;
        margin: 20px;
        background-color: #fff;
      }
    }
  }
}
