@import '../../../styles/variable.scss';
$backgroundColor: #f5f5f5;
$color: #28232c;

.CartContents {
  margin: 100px 0;
  background-color: #fff;
  box-shadow: 1px 2px 10px lightgrey;

  .cartInfo {
    padding: 30px 50px;
    border-bottom: 2px solid $backgroundColor;

    .cartInfoTitle {
      font-size: 28px;

      .infoTitle {
        padding: 5px 0;
      }
    }

    .priceInfo {
      margin: 30px 0;

      .totalPrice {
        display: inline-block;
        width: 100px;
        margin: 5px 0;
        color: #c5c8ce;

        .totalProductPrice {
          color: $color;
        }
      }

      .point {
        display: flex;

        .pointInfo {
          @include flexMix(flex-start, 0);
          flex-direction: column;
          margin: 5px 0;

          .moreReviewMorePoint {
            padding: 5px 0;
            color: #c5c8ce;
            font-size: 13px;
          }
        }
      }
    }
  }

  .notification {
    padding: 30px 15px;
    background-color: $backgroundColor;

    .notificationTitle {
      padding: 13px 0;
      font-size: 18px;
      font-weight: 700;
    }

    ul {
      list-style: inside;

      .notiList {
        padding: 3px;
        color: #aaafb9;
        font-size: 14px;
      }
    }
  }

  .total {
    @include flexMix(center, 0);
    padding: 10px;

    .totalNumber {
      flex: 0.5;
      margin-left: 15px;
    }

    .order {
      flex: 5;
      height: 70px;
      border-radius: 10px;
      background-color: $keyColor;
      color: $backgroundColor;
      font-size: 20px;
      font-weight: 700;
    }
  }
}
