@import '../../styles/variable.scss';

.Detail {
  .imageAndProduct {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    margin-top: 140px;

    .imagePrevButton {
      position: absolute;
      z-index: 1000;
      margin-top: 250px;
      margin-right: 940px;
      width: 40px;
      height: 40px;
      opacity: 50%;
      cursor: pointer;
      font-size: 20px;
      border-radius: 50%;
      background-color: white;
    }

    .imageNextButton {
      position: absolute;
      font-size: 20px;
      z-index: 1000;
      margin-top: 250px;
      margin-left: 40px;
      width: 40px;
      cursor: pointer;
      height: 40px;
      border-radius: 50%;
      opacity: 50%;
      background-color: white;
    }

    .imageWrap {
      position: relative;
      display: flex;
      z-index: -2000;
      width: 550px;
      height: 550px;
      border-radius: 7px;
      overflow: hidden;

      .firstImage {
        display: block;
        width: 550px;
        height: 550px;
        border-radius: 7px;
        transform: translateX(0%);
        transition-duration: 0.6s;
      }

      .secondeImgae {
        display: block;
        width: 550px;
        height: 550px;
        border-radius: 7px;
        transform: translateX(-100%);
        transition-duration: 0.6s;
      }
    }

    .productInformation {
      margin-left: 50px;
      margin-top: 15px;
      width: 400px;

      .brandName {
        color: rgb(103, 112, 125);
        margin-bottom: 15px;
      }

      .productName {
        font-size: 20px;
        margin-bottom: 15px;
      }

      .productPrice {
        display: flex;

        .cost {
          margin-bottom: 10px;
          text-decoration: line-through;
          color: #ababab;
          font-size: 20px;
        }

        .disconutPercent {
          font-size: 35px;
          font-weight: bold;
          margin-bottom: 15px;
          color: $keyColor;
        }

        .discountPriceBox {
          .discountPrice {
            margin-top: 30px;
            margin-left: 20px;
            font-size: 35px;
            font-weight: bold;
          }
        }
      }

      .grade {
        display: flex;
        align-items: flex-start;

        .starPointText {
          margin-bottom: 15px;
          color: #ababab;
        }
        .stars {
          margin-left: 55px;
          margin-right: 10px;

          .star {
            margin-top: -4px;
            width: 90px;
            height: 19px;
          }
        }
      }

      .shippingFeeBox {
        display: flex;

        .shippingFee {
          color: #ababab;
        }

        .shippingFeeLists {
          display: flex;
          flex-direction: column;
          margin-left: 42px;
          margin-bottom: 16px;
          width: 253px;
          list-style: none;
        }

        .shippingFeeNone {
          display: none;
        }

        .shippingLists {
          list-style: none;

          .shippingTypeBox {
            display: flex;

            .shippingType,
            .paymentType {
              margin-left: -42px;
              margin-right: 24px;
              margin-bottom: 17px;
              color: #ababab;
            }
          }
        }

        .shippingFeeButton {
          width: 30px;
          height: 30px;
          color: #ababab;
        }
      }

      .optionContour {
        width: 370px;
        border-bottom: solid #ababab 1px;
      }
    }
  }

  .optionBox {
    margin-top: 20px;

    .optionDropdownOnRadius {
      z-index: 2000;
      align-items: center;
      margin-top: 10px;
      padding-top: 18px;
      padding-left: 15px;
      width: 370px;
      height: 50px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      border: 1px #ababab solid;
      background-color: white;
      color: #ababab;
    }

    .optionDropdownOn {
      position: absolute;
      z-index: 2000;

      background-color: white;
      .selectBox {
        z-index: 2000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -1px;
        width: 370px;
        height: 50px;
        border: 1px #ababab solid;
        background-color: white;

        .textFlex {
          z-index: 2000;
          display: flex;
          margin-left: 15px;
        }

        .optionPrice {
          z-index: 2000;
          margin-right: 15px;
        }
      }

      .selectBox:hover {
        background-color: rgb(180, 226, 248);
      }
    }

    .optionDropdownOffRadius {
      border-radius: 7px;
      align-items: center;
      margin-top: 10px;
      padding-left: 15px;
      padding-top: 18px;
      width: 370px;
      height: 50px;
      border: 1px #ababab solid;
      color: #ababab;
    }

    .optionDropdownOffRadius:hover {
      background-color: rgb(180, 226, 248);
    }

    .optionDropdownOff {
      display: none;
    }

    .colorDropdownOnRadius {
      z-index: 1000;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      align-items: center;
      margin-top: 10px;
      padding-top: 18px;
      padding-left: 15px;
      width: 370px;
      height: 50px;
      border: 1px #ababab solid;
      color: #ababab;
    }

    .colorOptionDropdownOn {
      position: absolute;
      z-index: 1000;

      .colorSelectBox {
        z-index: 1000;
        display: flex;
        align-items: center;
        margin-top: -1px;
        padding-left: 15px;
        width: 370px;
        height: 50px;
        background-color: white;
        border: 1px #ababab solid;

        .textFlex2 {
          display: flex;
          margin-left: 15px;
        }

        .priceBox {
          margin-right: 15px;
        }
      }

      .colorSelectBox:hover {
        background-color: rgb(180, 226, 248);
      }
    }

    .colorDropdownOffRadius {
      border-radius: 7px;
      align-items: center;
      margin-top: 10px;
      padding-left: 15px;
      padding-top: 18px;
      width: 370px;
      height: 50px;
      border: 1px #ababab solid;
      color: #ababab;
    }

    .colorDropdownOffRadius:hover {
      background-color: rgb(180, 226, 248);
    }

    .colorOptionDropdownOff {
      display: none;
    }

    .buyBoxOff {
      display: none;
    }

    .boxAndBuy {
      margin-top: 10px;

      .quantityBox {
        width: 370px;
        height: 90px;
        border-radius: 7px;
        background-color: rgb(180, 226, 248);

        .closeButtonFlex {
          display: flex;
          justify-content: space-between;

          .nameAndColor {
            margin-left: 20px;
            padding-top: 20px;
            font-size: 13px;
          }

          .quantityBoxRemoveButton {
            margin-top: 13px;
            margin-right: 15px;
            background-color: rgb(180, 226, 248);
          }
        }

        .buttonsAndPrice {
          display: flex;
          justify-content: space-between;

          .twoButtonsBox {
            display: flex;
            text-align: center;
            margin-top: 10px;
            margin-left: 10px;

            .quantityMinusButton,
            .quantityPlusButton {
              width: 25px;
              height: 25px;
              margin-left: 4px;
              margin-right: 4px;
              border-radius: 50%;
              background-color: rgb(240, 240, 240);
            }

            .calculator {
              width: 50px;
              height: 25px;
              padding-top: 5px;
              border-radius: 2px;
              background-color: rgb(240, 240, 240);
            }
          }

          .priceCalculator {
            margin-top: 15px;
            margin-right: 15px;
            font-weight: bold;
            font-size: 14px;
          }
        }
      }

      .priceBox {
        margin-top: 15px;
        width: 370px;
        height: 40px;

        .QuantityAndPrice {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;

          .QuantityBottom {
            margin-left: 3px;
            font-weight: bold;
            font-size: 18px;
          }

          .PriceBottom {
            margin-right: 3px;
            font-size: 20px;
            font-weight: bold;
            color: $keyColor;
          }
        }
      }

      .buyButtons {
        display: flex;
        width: 370px;
        justify-content: space-between;

        .shoppingBasket,
        .nowBuy {
          z-index: -1000;
          display: block;
          width: 180px;
          height: 50px;
          border-radius: 7px;
          color: white;
          background-color: $keyColor;
        }

        .shoppingBasket {
          opacity: 0.5;
        }
      }
    }
  }
}
.displayNone {
  display: none;
}
