@import '../../styles/variable.scss';

.Detail {
  .imageAndProduct {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0 auto;

    .detailImage {
      width: 550px;
      height: 550px;
      border-radius: 10px;
    }

    .productInformation {
      margin-left: 50px;
      margin-top: 15px;
      width: 400px;

      .brandName {
        color: rgb(103, 112, 125);
        margin-bottom: 15px;
      }

      .productName {
        font-size: 20px;
        margin-bottom: 15px;
      }

      .productPrice {
        display: flex;

        .cost {
          margin-bottom: 10px;
          text-decoration: line-through;
          color: #ababab;
          font-size: 20px;
        }

        .percent {
          font-size: 35px;
          font-weight: bold;
          margin-bottom: 15px;
          color: $keyColor;
        }

        .discountPriceBox {
          .discountPrice {
            margin-top: 30px;
            margin-left: 20px;
            font-size: 35px;
            font-weight: bold;
          }
        }
      }

      .grade {
        display: flex;
        align-items: flex-start;

        .starPointText {
          color: #ababab;
          margin-bottom: 15px;
        }

        .star {
          margin-top: -4px;
          margin-left: 55px;
          margin-right: 2px;
          width: 19px;
          height: 19px;
        }
      }

      .shippingFeeBox {
        display: flex;

        .shippingFee {
          color: #ababab;
        }

        .shippingFeeLists {
          display: flex;
          flex-direction: column;
          margin-left: 42px;
          margin-bottom: 16px;
          width: 253px;
          list-style: none;
        }
        .shippingFeeNone {
          display: none;
        }
        .shippingLists {
          // display: none;
          list-style: none;

          .typeBox {
            display: flex;

            .shippingType,
            .payType {
              color: #ababab;
              margin-left: -42px;
              margin-right: 24px;
              margin-bottom: 17px;
            }
          }
        }

        .shippingFeeButton {
          color: #ababab;
          width: 30px;
          height: 30px;
        }
      }

      .contour {
        width: 370px;
        border-bottom: solid #ababab 1px;
      }
    }
  }
  .optionBox {
    margin-top: 20px;

    // .optionTop {
    //   position: absolute;
    //   z-index: 2000;
    //   width: 370px;
    //   margin-top: 13px;
    //   border-radius: 7px;
    //   border: #ababab 1px solid;
    //   background-color: white;

    //   .flexBox,
    //   .optionFlexBox {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     padding-top: 15px;
    //     padding-bottom: 13px;

    //     .firstLeftText {
    //       margin-left: 15px;
    //       color: #ababab;
    //     }

    //     .firstRightText {
    //       margin-right: 15px;
    //       color: #ababab;
    //     }

    //     .optionLeftText {
    //       color: black;
    //       margin-left: 15px;
    //     }

    //     .optionRightText {
    //       color: black;
    //       margin-right: 15px;
    //     }
    //   }

    //   .flexBox:hover {
    //     border-radius: 5px;
    //     background-color: rgb(180, 226, 248);
    //   }

    //   .firstOptionHover:hover {
    //     background-color: rgb(180, 226, 248);
    //   }

    //   .secondOptionHover:hover {
    //     border-bottom-left-radius: 5px;
    //     border-bottom-right-radius: 5px;
    //     background-color: rgb(180, 226, 248);
    //   }

    //   .optionFlexBox {
    //     border-top: solid 1px #ababab;
    //   }
    // }

    // .firstOnOff {
    //   display: none;
    // }

    // .optionBottom {
    //   position: absolute;
    //   z-index: 1000;
    //   width: 370px;
    //   border-radius: 7px;
    //   border: #ababab 1px solid;
    //   background-color: white;
    //   margin-top: 73px;
    //   .flexBox,
    //   .optionFlexBox {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     padding-top: 15px;
    //     padding-bottom: 13px;

    //     .secondLeftText {
    //       margin-left: 15px;
    //       color: #ababab;
    //     }

    //     .secondRightText {
    //       margin-right: 15px;
    //       color: #ababab;
    //     }

    //     .optionLeftText {
    //       color: black;
    //       margin-left: 15px;
    //     }
    //   }
    //   .flexBox:hover {
    //     border-radius: 5px;
    //     background-color: rgb(180, 226, 248);
    //   }

    //   .firstOptionHover:hover {
    //     background-color: rgb(180, 226, 248);
    //   }

    //   .secondOptionHover:hover {
    //     border-bottom-left-radius: 5px;
    //     border-bottom-right-radius: 5px;
    //     background-color: rgb(180, 226, 248);
    //   }

    //   .optionFlexBox {
    //     border-top: solid 1px #ababab;
    //   }
    // }
    // .secondOnOff {
    //   display: none;
    // }

    .boxAndBuy {
      margin-top: 133px;

      .QuantityBox {
        width: 370px;
        height: 90px;
        border-radius: 5px;
        background-color: rgb(248, 248, 248);

        .closeButtonFlex {
          display: flex;
          justify-content: space-between;
          border: 1px solid black;

          .nameAndColor {
            font-size: 14px;
            margin-left: 20px;
            padding-top: 20px;
          }
        }

        .buttonsAndPrice {
          display: flex;
          justify-content: space-between;
          border: 1px solid black;

          .twoButtons {
            display: flex;
          }
        }
      }

      .priceBox {
        width: 370px;
        height: 40px;
        margin-top: 15px;

        .QuantityAndPrice {
          display: flex;
          justify-content: space-between;
          border: black solid 1px;
        }
      }

      .buyButtons {
        display: flex;
        width: 370px;
        margin-top: 15px;
        justify-content: space-between;

        .shoppingBasket,
        .nowBuy {
          display: block;
          width: 180px;
          height: 50px;
          border-radius: 7px;
          color: white;
          background-color: $keyColor;
          z-index: -1;
        }

        .shoppingBasket {
          opacity: 0.5;
        }
      }
    }
  }
}
