@import '../../styles/variable.scss';

.ProductContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 50px;
  z-index: -1;

  .productImage {
    overflow: hidden;
    margin-bottom: 10px;
    height: 200px;
    background-color: rgb(255, 208, 199);
  }

  .brandName {
    color: #ababab;
    font-size: 12px;
    margin-bottom: 4px;
  }
  .productName {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 15px;
    line-height: 115%;
  }

  .priceInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    .percent {
      margin-right: 6px;
      font-weight: bolder;
      font-size: 18px;
      color: $keyColor;
    }
    .discountPrice {
      font-weight: bolder;
      font-size: 18px;
      color: #ababab;
    }
  }

  .reviewInfo {
    display: flex;
    justify-content: space-between;
    width: 70px;
  }
}
