@import '../../../styles/variable.scss';

.FurnitureTable {
  .furnitureList {
    width: 170px;
    padding: 5px 20px;
    margin: 20px 0;
    transition: 0.3s;

    .categoryLink {
      @include deleteTextDeco;
    }
  }

  .furnitureName {
    &:hover {
      color: $keyColor;
    }
  }

  .items {
    position: absolute;
    top: 0;
    right: -170px;
    height: 630px;
    background-color: #fff;
    box-shadow: 1px 1px 5px lightgrey;
  }

  .item,
  .furniture,
  .categoryMenuName {
    width: 170px;
    padding: 5px 20px;
    margin: 20px 0 0 0;
    transition: 0.3s;

    &:hover {
      color: $keyColor;
    }
  }
}
