.containerHome {
  padding-top: 150px;

  .Logo {
    #homeLogo {
      display: block;
      margin: 0 auto;
      padding: 10px;
    }

    .logoName {
      display: flex;
      justify-content: center;
      color: lightgray;
      font-size: 15px;
      margin-bottom: 20px;
      margin-top: 5px;
    }
  }
}
input {
  display: block;
  position: relative;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  width: 297px;
  height: 44px;
  margin-bottom: 5px;
}
.checkBox {
  display: flex;
  align-items: center;
  height: 30px;

  .checkAll {
    width: 20px;
    margin-right: 20px;
    padding: 0px;

    .checkAllText {
      align-items: center;
      size: 10px;
    }
  }
}
.checkBoxAll {
  padding: 40px 0px 40px 0px;
}
.signBtn {
  margin-top: 50px;
}
