div#SignupPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .container {
    display: block;
    justify-content: center;
    height: 600px;
    width: 300px;

    .Logo {
      #homeLogo {
        display: block;
        margin: 0 auto;
        padding: 10px;
      }

      .logoName {
        display: flex;
        justify-content: center;
        color: lightgray;
        font-size: 15px;
        margin-bottom: 20px;
        margin-top: 5px;
      }
    }

    .signupInputBox {
      height: 100px;
      position: relative;

      input {
        // position: relative;
        border-style: solid;
        border-color: lightgray;
        border-width: 1px;
        width: 297px;
        height: 44px;
        margin-bottom: 5px;
        padding-left: 45px;
      }

      img {
        position: absolute;
        margin-top: 15px;
        margin-left: -285px;
        width: 15px;
      }

      ::placeholder {
        font-size: 14px;
        color: #757575;
      }
    }

    .checkBox {
      margin-top: 180px;
      .agreeText {
        display: block;
        margin-bottom: 15px;
        font-size: 15px;
        color: black;
      }
      #agreeText1 {
        margin-bottom: 25px;
      }
    }
    .signupInputbox {
      position: relative;

      .emailAddress {
        position: relative;

        #emailaddressIcon {
          position: absolute;
        }
      }
    }
    .btnBox {
      .signupBtn {
        width: 297px;
        height: 44px;
        margin-top: 20px;
        margin-bottom: 9px;
        border: 1px solid lightgray;
        background-color: white;
        font-size: 15px;
        color: black;
      }

      .lostpwdBtn {
        width: 297px;
        height: 44px;
        margin-bottom: 5px;
        border: 1px solid lightgray;
        background-color: white;
        font-size: 15px;
        color: black;
      }

      :hover {
        cursor: pointer;
      }
    }
  }
}
