div#SignupPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: block;
    justify-content: center;
    height: 600px;
    width: 300px;

    .Logo {
      #homeLogo {
        display: block;
        margin: 0 auto;
        padding: 10px;
      }

      .logoName {
        display: flex;
        justify-content: center;
        color: lightgray;
        font-size: 15px;
        margin-bottom: 20px;
        margin-top: 5px;
      }
    }

    input {
      border-style: solid;
      border-color: lightgray;
      border-width: 1px;
    }
    .signupInput {
      position: relative;
      width: 297px;
      height: 44px;
      margin-bottom: 5px;
      padding-left: 45px;
      background-color: red;
    }

    .signupInputBox {
      height: 100px;

      #emailaddressIcon {
        position: absolute;
        margin-top: 16px;
        margin-left: -282px;
        width: 15px;
        background-color: white;
      }

      .SignupInputList {
        position: relative;
        width: 297px;
        height: 44px;
        margin-bottom: 5px;
        padding-left: 45px;
      }

      #nicknameIcon {
        position: absolute;
        margin-top: 14px;
        margin-left: -282px;
        width: 15px;
      }

      .phonNumver {
        position: relative;
        width: 297px;
        height: 44px;
        margin-bottom: 5px;
        padding-left: 45px;
      }

      #phonnumverIcon {
        position: absolute;
        margin-top: 14px;
        margin-left: -282px;
        width: 15px;
      }
      .signupPassword {
        position: relative;
        width: 297px;
        height: 44px;
        margin-bottom: 5px;
        padding-left: 45px;
      }

      #signuppwdIcon {
        position: absolute;
        margin-top: 14px;
        margin-left: -282px;
        width: 15px;
      }

      .signupPassword_checkt {
        position: relative;
        width: 297px;
        height: 44px;
        margin-bottom: 5px;
        padding-left: 45px;
      }

      #signupPassword_checktIcon {
        position: absolute;
        margin-top: 14px;
        margin-left: -282px;
        width: 15px;
      }

      ::placeholder {
        font-size: 14px;
        color: #757575;
      }
    }

    .checkBox {
      margin-top: 180px;
      .agreeText {
        display: block;
        margin-bottom: 15px;
        font-size: 15px;
        color: black;
      }
      #agreeText1 {
        margin-bottom: 25px;
      }
    }
    .signupInputbox {
      position: relative;

      .emailAddress {
        position: relative;

        #emailaddressIcon {
          position: absolute;
        }
      }
    }
    .btnBox {
      .signupBtn {
        width: 297px;
        height: 44px;
        margin-top: 20px;
        margin-bottom: 9px;
        border: 1px solid lightgray;
        background-color: white;
        font-size: 15px;
        color: black;
      }

      .lostpwdBtn {
        width: 297px;
        height: 44px;
        margin-bottom: 5px;
        border: 1px solid lightgray;
        background-color: white;
        font-size: 15px;
        color: black;
      }

      :hover {
        cursor: pointer;
      }
    }
  }
}
