@import '../../styles/variable.scss';

.Modal {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;

  button:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  button:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  button:hover {
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
  }

  .all,
  .company,
  .price,
  .starPoint {
    right: 5px;
    width: 100px;
    height: 30px;
    color: white;
    color: black;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    box-shadow: 4px 4px 9px 1px rgba($color: $keyColor, $alpha: 0.3);
  }
}
