@import '../../styles/variable.scss';

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 40px;
  background: white;
  color: black;

  .circleBtn {
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $keyColor;
  }
}
